body, html {
    background-color: #EDEDED !important;
}

body {
    font-size: 14px;
    font-weight: 400;
    background-color: #eeeeee;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding: 10px 0;
    font-weight: 700;
    color: #87395D;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3.5em;
}

h3 {
    font-size: 2.75em;
}

h4 {
    font-size: 2em;
}

h5 {
    font-size: 1.5em;
}

h6,p {
    padding: 0;
    font-size: 1em;
    font-weight: 400;
}

.no-padding-top {
    padding-top: 0 !important;
}

.no-padding-bottom {
    padding-bottom: 0 !important;
}

.no-padding-left {
    padding-left: 0 !important;
}

.no-padding-right {
    padding-right: 0 !important;
}

@font-face {
    font-family: 'Aniron';
    font-weight: normal;
    font-style: normal;
    src: url('../font/anirb.ttf');
}

.moderate-pink-text.text-darken-1 {
    color: #87395d !important;
}

.moderate-pink.darken-1 {
    background-color: #87395d !important;
}

/* label underline focus color */
.input-field input[type=text]:focus,
.input-field input[type=number]:focus {
    border-bottom: 1px solid #87395d;
    box-shadow: 0 1px 0 0 #87395d;
}
/*
textarea.material-textarea:focus {
    border-bottom: 1px solid #87395d !important;
    box-shadow: 0 1px 0 0 #87395d !important;
} */

textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #87395d !important;
    box-shadow: 0 1px 0 0 #87395d !important;
}

input[type=text]:focus,
input[type=number]:focus {
    border-bottom: 1px solid #87395d !important;
    box-shadow: 0 1px 0 0 #87395d !important;
}

/* label focus color */
.input-field input[type=text]:focus + label,
.input-field input[type=number]:focus + label  {
    color: #87395d;
}

textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #87395d;
}

nav .button-collapse i {
    font-size: 2rem;
}

nav ul li a {
    color: #87395D !important;
}

.intro
{
    position: relative;
    text-align: center;
    height: 500px;
    background-image: url("../images/banner_home.png");
    margin-bottom: 0px;
}

.intro h1
{
    text-transform: uppercase;
}

.welcome-message {
    position: absolute;
    width:100%;
    top: 50%;
    transform: translate(0, -50%);
}

.ver-hor-align-parent {
	position: relative;
}

.ver-hor-align-child {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ver-align-parent {
    position: relative;
}

.ver-align-child {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.login_container {
	position: relative;
}

.login_container_child {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tabs .indicator {
  background-color: #87395d !important;
}


.social-icon {
	max-width: 50px;
}

.page-footer {
	margin: 0 !important;
}

#not-found-text {
    font-family: 'Aniron', serif;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 15%;
    color: #AE2D02;
}
