{% extends "base.html" %}
{% block title %}My Processes{% endblock %}
{% block content %}

<div class="ver-hor-align-parent grey darken-4">

        <div class="row">
            <div class="col s10 offset-s1 m6 offset-m3 l4 offset-l4">
                <a href="{{ url_for('index') }}" class="brand-logo">
                    <img class="social-icon" style="max-width: 100%;"
                         src="{{ url_for('static', filename='images/logo.png') }}">
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col s10 offset-s1 m6 offset-m3 l4 offset-l4 white center-align"
                 style="padding: 30px 15px;">
                <div id="errors" class="red lighten-3">
                    {% for error in errors %}
                    <p class="red-text text-darken-4" style="margin: 0; padding: 5px 0">{{ error }}</p>
                    {% endfor %}</div>
    
        <div class="green lighten-3">
            {% for message in get_flashed_messages() %}
            <p class="green-text green-darken-4" style="margin: 0; padding: 5px 0">{{ message }}</p>
            {% endfor %}</div>    
            
            
                <form id="form" name="form" class="start_process" action="" method="post">

                    <p>Start a new Process</p>
                    
                    <div class="input-field col s6"> 
                            {% if process %}<select id="process" name="process">
                            <option value="{{ process.id }}">{{ process.process_name }}</option>
                            {% else %}
                            <select id="process" name="process">
                            <option value="" disabled selected>Select a process</option>
                            {% for process in processes %}
                            <option value="{{ process.id }}">{{ process.process_name }}</option>
                            {% endfor %}
                            
                            {% endif %}
                            </select></div>



                        <div class="input-field col s6">
                    <input type="date" class="datepicker" name="date" id="date"><label>Start Date</label>
                            </input></div>
                    
                    <div class="input-field col s6"> 
                            {% if target %}<select id="target" name="target">
                            <option value="{{ target }}">{{ target }}</option></select>
                            {% else %}
                            <select id="target" name="target">
                            <option value="" disabled selected>Apply process to?</option>
                            <option value="field">field</option>
                            <option value="farm">farm</option>
                            <option value="crop">crop</option>
                            <option value="other">other</option>
                            {% endif %}
                                </select></div>

                        <button class="btn waves-effect waves-light moderate-pink darken-1" type="submit" name="submit" id="submit">
                        View farms/fields/crops
                    </button>
                            
                            
                            {% if other %}
                    <input id="other_target" name="other_target" type="text" placeholder="other_target" class="validate">Other</input>
                        {% elif fields %}
                    <select id="field" name="field"></select>
                    <option value="" disabled selected>Select field</option>
                            {% for field in fields %}
                            <option value="{{ field.id }}">{{ field.name }}</option>{% endfor %}
                            {% elif farms %}
                    <select id="farm" name="farm">
                    <option value="" disabled selected>Select farm</option>
                            {% for farm in farms %}
                            <option value="{{ farm.id }}">{{ farm.name }}</option>{% endfor %}

                        </select>
                        {% elif crops %}
                    <select id="crop" name="crop">
                    <option value="" disabled selected>Select crop</option>
                            {% for crop in crops %}
                            <option value="{{ crop.id }}">{{ crop.crop_name }}</option>{% endfor %}
                            {% endif %}
                        </select>
                    
                    
                    
                    <button class="btn waves-effect waves-light moderate-pink darken-1" id=submit type="submit" name="submit">
                        Submit
                    </button>
                </form>

            <div>
                {% if my_processes %}
                    <ul class="col s10 offset-s1 m6 offset-m3 l4 offset-l4 white left-align"><p>Current Processes</p>
                {% for process in my_processes %}
                    <a href="Update Progress on {{ process }}">{{ process }} <br></a>
                {% endfor %}
                    </ul>
                {% endif %}
        </div>
    </form>

</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %}
<script>
   var windowHeight = $(window).height();
   var navHeight = $('nav').height();
   $('.ver-hor-align-parent').css('height', windowHeight - navHeight);
   var minHeight = $('.ver-hor-align-child').height() + 50;
   $('.ver-hor-align-parent').css('min-height', minHeight);
   
     $(document).ready(function() {
    $('select').material_select();
  });
  
    $('.datepicker').pickadate({
    selectMonths: true, 
    selectYears: 15 
  });

  
</script>


{% endblock %}
