{% extends "base.html" %}
{% block title %}Farm Activity{% endblock %}


{% block content %}

<div class=container>
    <form class="activity" action="{{ url_for('activity') }}" method="post"> 
        <div class="row">
        
            <div class="input-field col s6">
                <input id="description" type="text" class="validate"></input>
                    <label>Activity Description</label></div>
                  
                {% if myfarms %}
            <div class="input-field col s6" id="farm">
                <select>
                    <option value="" disabled selected>Choose your Farm</option>
                {% for farm in myfarms %}
                    
                    <option value="{{ farm.id }}">{{ farm.name }}</option>
                {% endfor %}
                </select>
                    <label>Farm</label></div>
                {% endif %}
                
        </div>
        <div class="row">
        
            <div class="col s6">Activity Date<input id="date" type="date" class="datepicker"></input></div>
        

                {% if resources %}
            <div class="input-field col s6" id="resource">
                <select>
                    <option value="" disabled selected>Choose your Resource</option>
                {% for resource in resources %}
                    
                    <option value="{{ resource.id }}">{{ resource }}</option>
                {% endfor %}
                </select>
                    <label>Resource</label></div>
                {% endif %}
    </div>
    
<div class=valign>
    <button class="btn waves-effect waves-light moderate-pink darken-1" id="submit" type="submit" name="action" value="add_activity">Record Activity</button>
    
    <div class="messages">
    {% for message in get_flashed_messages() %}
    {{ message }}
    {% endfor %}</div>
                    
        </div>     
    </form>
</div>

{% endblock %}

{% block scripts %}
<script>
  $('.datepicker').pickadate({
    selectMonths: true,
    selectYears: 15
  });
        

  $(document).ready(function() {
    $('select').material_select();
  });
  
  
</script>
{% endblock %}
