{% extends "base.html" %}
{% block title %}Farm Activity{% endblock %}

{% block content %}

<div class="ver-hor-align-parent grey darken-4">
    <div class="section">
        <div class="container white">
            <h5>Record Activity</h5>
            
            <form class="activity" id="form" name="form" action="" method="post">
             
            <div class="input-field col s6"> 
            {% if process %}<select id="process" name="process">

                            <option value="{{ process.id }}">{{ process.process_name }}</option>
                            {% else %}
                            <select id="process" name="process">
                            <option value="" disabled selected>Select a process</option>
                            {% for process in processes %}
                            <option value="{{ process.id }}">{{ process.process_name }}</option>
                            {% endfor %}
                            
                            {% endif %}</select></div>
                        

                <div class="input-field col s6">
                  
                    <select id="resource" name="resource">
                    <option value="" disabled selected>Choose a Resource</option>
                    {% for resource in resources %}
                    <option value="{{ resource.id }}">{{ resource.resource_description }}</option>
                    {% endfor %}
                    </select>
                    </div>




        <div class="row">
            <div class="section">
                <div class="input-field col s6">
                    <input id="description" name="description" type="text" class="materialize-textarea"></input>
                    <label>Activity Description</label></div></div>



            <button class="btn waves-effect waves-light moderate-pink darken-1" id="submit" type="submit" >Record Activity</button>
        </div>       
        
        <div class="input-field col s2">
                  
                    <select id="activity" name="activity">
                    <option value="" disabled selected>Or select existing Activity</option>
                    {% for activity in activities %}
                    <option value="{{ activity.id }}">{{ activity.activity_description }}</option>
                    {% endfor %}</div>
    </form>
                    <div id="errors" class="red lighten-3">
                    {% for error in errors %}
                    <p class="red-text text-darken-4" style="margin: 0; padding: 5px 0">{{ error }}</p>
                    {% endfor %}</div>
    
        <div class="green lighten-3">
            {% for message in get_flashed_messages() %}
            <p class="green-text green-darken-4" style="margin: 0; padding: 5px 0">{{ message }}</p>
            {% endfor %}</div>        
    </div>     
    
</div>
{% endblock %}

{% block scripts %}
<script>


  $(document).ready(function() {
    $('select').material_select();
  });

  $('#textarea1').val('New Text');
  $('#textarea1').trigger('autoresize');
  

</script>
{% endblock %}
% endif %}
