{% extends "base.html" %}
{% block title %}Add Your Crops{% endblock %}
{% block content %}
<div class="intro">
    <div class="mess">
    {% for message in get_flashed_messages() %}
    {{ message }}
    {% endfor %}
    </div>
    
    <form class="addcrop_form" action="{{ url_for('addcrop') }}" method="post">
                    <input id="id" type=text size=30 name=id>
                    <input id="cropname" type=text size=30 name=cropname>
                    <input id="growstate" type=text size=30 name=growstate>
                    <input id="farmid" type=text size=30 name=farmid>
                    
                    <button class="btn waves-effect waves-light moderate-pink darken-1" id="submit" type="submit" name="action" value="add crop">
                        submit
                    </button>
                </form> 
    
</div>
{% endblock %}