
{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}

<div class="ver-hor-align-parent grey darken-4">
    <div class="container ver-hor-align-child">
        <div class="row">
            <div class="col s10 offset-s1 m6 offset-m3 l4 offset-l4">
                <a href="{{ url_for('index') }}" class="brand-logo">
                    <img class="social-icon" style="max-width: 100%;"
                         src="{{ url_for('static', filename='images/logo.png') }}">
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col s10 offset-s1 m6 offset-m3 l4 offset-l4 white center-align"
                 style="padding: 30px 15px;">
                {% with messages = get_flashed_messages(with_categories=True) %}
                {% if errors or messages %}
                <div id="errors" class="red lighten-3">
                    {% for category, message in messages %}
                    {% if category == 'error' %}
                    <p class="red-text text-darken-4" style="margin: 0; padding: 5px 0">{{ message }}</p>
                    {% endif %}
                    {% endfor %}
                    {% for error in errors %}
                    <p class="red-text text-darken-4" style="margin: 0; padding: 5px 0">{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
                {% if messages %}
                <div id="success" class="green lighten-3">
                    {% for category, message in messages %}
                    {% if category == 'success' %}
                    <p class="green-text green-darken-4" style="margin: 0; padding: 5px 0">{{ message }}</p>
                    {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
                {% endwith %}
                <!--
                <form class="contact_form" action="" method="post">
                    <textarea id="enquiry" name="enquiry" type="text" placeholder="Enquiry" class="validate" rows="5" cols="40"></textarea>
                    <br>
                    <input id="email" name="email" type="email" placeholder="Email Address" class="validate">
                    <button class="btn waves-effect waves-light moderate-pink darken-1" type="submit" name="action">
                        SUBMIT
                    </button>
                    
                </form>
                -->
                <form class="form">
  
  <p class="name">
   <label for="name">Name</label>
      <input type="text" name="name" id="name" placeholder="John Doe" />

  </p>
  
  <p class="email">
   <label for="email">Email</label>
      <input type="text" name="email" id="email" placeholder="mail@example.com" />

  </p>
  
  <p class="web">
    <label for="web">Subject</label>
      <input type="text" name="web" id="web" placeholder="" />

  </p>  
 
  <p class="text">
   <textarea name="text" placeholder="Write something to us"></textarea>
  </p>
  
  <p class="submit">
   <input type="submit" value="Send" />
  </p>
 </form>

</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %}
<script>
   var windowHeight = $(window).height();
   var navHeight = $('nav').height();
   $('.ver-hor-align-parent').css('height', windowHeight - navHeight);
   var minHeight = $('.ver-hor-align-child').height() + 50;
   $('.ver-hor-align-parent').css('min-height', minHeight);
</script>
{% endblock %}

