{% extends "base.html" %}
{% block title %}FeedBack{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col s12 left-align moderate-pink-text text-darken-1">
            <h3 class="hide-on-med-and-down">Contact Us</h3>
            <h4 class="hide-on-large-only">Contact Us</h4>
        </div>
    </div>
    <div class="row white z-depth-1" style="padding: 50px;">
		{% if success == True %}
        <div id="errors" class="red lighten-3">
			<p class="red-text text-darken-4" style="margin: 0; padding: 5px 0; text-align: center;">Thanks for your feedback!</p>
		</div>
		{% endif %}
        <div class="col m12 22 hide-on-small-only">
            <form method="POST" name="feedback_form" action="">
                
                <div class="col m9 19">
                    <font size="3px">Your name (required)</font>
                    <input name="username" id="username" type="text" placeholder="username" required>
                </div>
				<div class="col m9 19">
                    <font size="3px">Your email (required)</font>
                    <input name="email" id="email" type="email" placeholder="email" required>
                </div>
				<div class="col m9 19">
                    <font size="3px">Subject (required)</font>
                    <input name="subject" id="subject" type="text" placeholder="subject" required>
                </div>
				<div class="col m9 19">
                    <font size="3px">Your message (required)</font>
                    <textarea name="message" id="message" type="text" placeholder="message" rows="5" style="height: auto;" required></textarea>
                </div>
				<div class="col m9 19">
					<button class="btn waves-effect waves-light moderate-pink darken-1" type="submit">Send</button>
				</div>
            </form>
        </div>
        
    </div>
</div>
{% endblock %}
