{% extends "base.html" %}
{% block title %}Field{% endblock %}
{% block content %}

<div class="ver-hor-align-parent grey darken-4">
    <div class="container ver-hor-align-child">
        <div class="row">
            <div class="col s10 offset-s1 m6 offset-m3 l4 offset-l4">
                <a href="{{ url_for('index') }}" class="brand-logo">
                    <img class="social-icon" style="max-width: 100%;"
                         src="{{ url_for('static', filename='images/logo.png') }}">
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col s10 offset-s1 m6 offset-m3 l4 offset-l4 white center-align"
                 style="padding: 30px 15px;">
                {% with messages = get_flashed_messages(with_categories=True) %}
                {% if errors or messages %}
                <div id="errors" class="red lighten-3">
                    {% for category, message in messages %}
                    {% if category == 'error' %}
                    <p class="red-text text-darken-4" style="margin: 0; padding: 5px 0">{{ message }}</p>
                    {% endif %}
                    {% endfor %}
                    {% for error in errors %}
                    <p class="red-text text-darken-4" style="margin: 0; padding: 5px 0">{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
                {% if messages %}
                <div id="success" class="green lighten-3">
                    {% for category, message in messages %}
                    {% if category == 'success' %}
                    <p class="green-text green-darken-4" style="margin: 0; padding: 5px 0">{{ message }}</p>
                    {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
                {% endwith %}
                <form id="form" class="add_field" action="" method="post">
                    <p>Add a Field</p>
                    <input id="fieldname" name="fieldname" type="text" placeholder="Field name" class="validate">
                    <input id="farmname" name="farmname" type="text" placeholder="Farm name" class="validate">
                    <button class="btn waves-effect waves-light moderate-pink darken-1" type="submit" name="action">
                        ADD Field
                    </button>
                </form>
            </div>
            <div>
                {% if myfarms %}
                    <ul class="col s10 offset-s1 m6 offset-m3 l4 offset-l4 white left-align"><p>My Farms</p>
                {% for myfarm in myfarms %}
                    <a href="send me to add produce to my farm">{{ myfarm }} <br></a>
                {% endfor %}
                    </ul>
                {% endif %}
                {% if myfields %}
                    <ul class="col s10 offset-s1 m6 offset-m3 l4 offset-l4 yellow left-align"><p>My Fields</p>
                {% for field in myfields %}
                    <a href="That's one heck of a field">{{ field }} <br></a>
                {% endfor %}
                    </ul>
                {% endif %}
{% block body %}
{% endblock %}
    </div>

</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %}
<script>
   var windowHeight = $(window).height();
   var navHeight = $('nav').height();
   $('.ver-hor-align-parent').css('height', windowHeight - navHeight);
   var minHeight = $('.ver-hor-align-child').height() + 50;
   $('.ver-hor-align-parent').css('min-height', minHeight);
</script>


{% endblock %}
