{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
<div class="login_container grey darken-4">
    <div class="container login_container_child">
        <div class="row">
            <div class="col s10 offset-s1 m6 offset-m3 l4 offset-l4">
                <a href="{{ url_for('index') }}" class="brand-logo">
                    <img class="social-icon" style="max-width: 100%;"
                         src="{{ url_for('static', filename='images/logo.png') }}">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col s10 offset-s1 m6 offset-m3 l4 offset-l4 white center-align"
                 style="padding: 30px 15px;">

                <form class="register_form" action="" method="post">
                    <input id="first_name" type="text" placeholder="First Name" class="validate">
                    <input id="last_name" type="text" placeholder="Last Name" class="validate">
                    <input id="email_reg" type="email" placeholder="Email Id" class="validate">
                    <input id="password_reg" type="password" placeholder="Password" class="validate">
                    {% if error %}
                    {% endif %}
                    <button class="btn waves-effect waves-light moderate-pink darken-1 center-align" type="submit" name="action">
                        REGISTER
                    </button>
                </form>
                
				<p>Already have an account? <a href="/login">Log In</a></p>

            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block script %}
{{ super() }}
var windowHeight = $(window).height();
var navHeight = $('nav').height();
$('.login_container').css('height', windowHeight - navHeight);
var minHeight = $('.login_container_child').height() + 50;
$('.login_container').css('min-height', minHeight);

{% endblock %}
